<!--  Share by Addthis
============================================================================ -->

<script type="text/javascript"
	src="http://china-addthis.googlecode.com/svn/trunk/addthis.js"
	charset="UTF-8"></script>
<span class="addthis_org_cn"> <a
	href="http://addthis.org.cn/share/"
	i="71|30|31|73|74|21|28|48|42|27|29|35|38|22|39|23|45|37|11|76|44|888"
	title="收藏&amp;分享"> <img src="http://addthis.org.cn/images/a2.gif"
		alt="分享家:Addthis" align="center" />
</a>
</span>
