<!--  Calendar
============================================================================ -->
<div class="widget calendar">
	<h3 class="widget-header">Calendar</h3>
	<div class="widget-content">
		<table summary="Monthly calendar with links to daily posts">
			<tr>
				<th abbr="Sunday">Sun</th>
				<th abbr="Monday">Mon</th>
				<th abbr="Tuesday">Tue</th>
				<th abbr="Wednesday">Wed</th>
				<th abbr="Thursday">Thu</th>
				<th abbr="Friday">Fri</th>
				<th abbr="Saturday">Sat</th>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>1</td>
			</tr>
			<tr>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td><a href="http://www.dylanninin.com/blog/2012/12/markdown-syntax.html">8</a></td>
			</tr>
			<tr>
				<td>9</td>
				<td><a href="http://www.dylanninin.com/blog/2012/12/access-dapenti-with-vpn.html">10</a>
				</td>
				<td>11</td>
				<td><a href="http://www.dylanninin.com/blog/2012/12/ibm-tsm-backuop-failed-note.html">12</a>
				</td>
				<td>13</td>
				<td>14</td>
				<td>15</td>
			</tr>
			<tr>
				<td>16</td>
				<td>17</td>
				<td>18</td>
				<td><a href="http://www.dylanninin.com/blog/2012/12/database-server-sqlite.html">19</a>
				</td>
				<td><a href="http://www.dylanninin.com/blog/2012/12/requests-http-for-humans.html">20</a>
				</td>
				<td>21</td>
				<td>22</td>
			</tr>
			<tr>
				<td>23</td>
				<td>24</td>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
				<td>29</td>
			</tr>
			<tr>
				<td>30</td>
				<td>31</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</div>
</div>