<!--  Recently Entries
============================================================================ -->
<div class="widget recently" >
    <h3 class="widget-header">Recently Entries</h3>
    <div class="widget-content">
        <ul>
        	<li><a href="$config.entryURL/the-importance-of-complex-passwords.html">复杂密码的重要性</a></li>
            <li><a href="$config.entryURL/a-case-of-ntp-sync-exception.html">NTP同步异常一例</a></li>
            <li><a href="$config.entryURL/aaron-swartz-commits-suicide.html">Aaron Swartz commits suicide</a></li>
        </ul>
    </div>
</div>

