#def with (pager)

<!--  Pager
============================================================================ -->

<div id="pager">
<div class="pagination  pagination-large  pagination-center">
  <ul>
    <li><a href="/0">First</a></li>
    <li><a href="/1">1</a></li>
    <li><a href="/2">2</a></li>
    <li><a href="/3">.</a></li>
    <li><a href="/4">.</a></li>
    <li><a href="/39">39</a></li>
    <li><a href="/40">40</a></li>
    <li><a href="/50">Last</a></li>
  </ul>
</div>
</div>