#def with (search, excepts)

<!--  Search Results
============================================================================ -->

<div id="search">
	Results matching "#search.keyword"
#for excerpt in excerpts:
	<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
		<div class="entry entry-search">
		<h1 class="">#excerpt.title</h1>
		<div class="">#excerpt.info</div>
		<div class="">#excerpt.content</div>
		<div class="">#excerpt.continue</div>
		<div class="">#excerpt.others</div>
	</div>
</div>